<!DOCTYPE html>
<html>
  <head>
    <title>CsvScraping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
